// MIXINS
.hamburger {
  @include hamburger(#e3e3e3, red, 50px, 30px, 5px, 3);
  position: absolute;
  top: 55px;
  right: 35px;
}

h2.slogan {
  @include xy-grid();
  @include xy-cell();
  color: #215671;
  @include flex-align(center, middle);
  font-size: 36px;
  font-family: 'Aleo';
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.top-header {
  height: rem-calc(30);
  background-color: black;

  .row {
    @include xy-grid-container();
    h2 {
      @include breakpoint(small only) {
        display: none;
      }
      @include breakpoint(medium) {
        @include xy-grid-container();
        font-size: rem-calc(18);
        color: white;
        margin-left: rem-calc(15);
        @include font-normal();
      }
    }
  }
}

.mobile-phone {
  @include xy-cell();
  @include breakpoint(small only) {
    font-size: rem-calc(24);
    color: white;
    margin-left: rem-calc(15);
    @include font-bold();
    text-align: center;
  }
  @include breakpoint(medium) {
    display: none;
  }
}

// Sticker Header Stuff

$topbar-sticky-shrink-padding: 0.2rem; // controls the un-stuck height of topbar
$topbar-sticky-shrink-padding-stuck: 0.85rem; // controls the is stuck height of topbar
$topbar-sticky-shrink-bg: rgba(255, 255, 255, 0.5);

.topbar-sticky-shrink {
  padding: $topbar-sticky-shrink-padding;
  transition: padding 0.25s ease;
  background: $topbar-sticky-shrink-bg;

  .menu {
    @include xy-grid-container();
    @include breakpoint(small only) {
      display: none;
    }
    @include breakpoint(medium) {
      // background: $topbar-sticky-shrink-bg;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: rem-calc(20);
      a:link {
        color: black;
      }
      a:visited {
        color: black;
      }
      a:hover {
        color: red;
      }
    }
  }
}

.is-stuck .topbar-sticky-shrink {
  padding: $topbar-sticky-shrink-padding-stuck;
  transition: padding 0.25s ease;
}

[data-sticky] {
  @include xy-grid-container();
  width: 100%;
  .logo {
    @include xy-grid-container();
    margin-top: 15px;
    width: 400px;
  }
}

.wrapper {
  @include xy-grid-container();

  .header-content,
  data-sticky-container,
  top-bar {
    @include xy-grid();
    @include xy-cell();
    @include flex-align(center, middle);
    @include padding(1);
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    @include padding(1, 1, 1, 1);

    topbar-sticky-shrink {
      @include xy-grid();
      @include xy-cell();
      @include flex-align(center, middle);
      @include breakpoint(medium) {
        @include xy-cell(3);
        @include flex-align-self(middle);
      }
    }

    .right-side {
      @include xy-grid();
      @include breakpoint(medium) {
        @include xy-cell(9);
        @include flex-align(right, bottom);
      }
    }
  }

  .off-canvas {
    background-color: rgba(201, 76, 76, 0.9);
    li a {
      color: white;
    }
    .menu {
      background-color: black;
    }
  }

  .free-estimate {
    @include xy-grid();
    @include breakpoint(small only) {
      display: none;
    }
    @include breakpoint(medium) {
      float: right;
      width: 300px;
      position: relative;
      margin-top: 5px;

      .free-estimate-call {
        .phone-icon {
          float: left;
          height: 50px;
          width: 50px;
          color: black;
        }
        @include breakpoint(medium only) {
          display: none;
        }
        float: right;
        font-size: rem-calc(25);
        line-height: 30px;
        span {
          display: table;
          font-size: rem-calc(30);
          font-weight: bold;
        }
      }
    }
  }

  .main-navigation {
    display: none;
    @include breakpoint(medium) {
      @include xy-grid();
      @include menu-base();

      li {
        @include breakpoint(small only) {
          text-align: center;
        }

        a {
          @include text-transform(uppercase);
          @include font-bold(700);
          font-size: rem-calc(16);

          &:hover {
            color: red;
          }
        }
      }
    }
  }

  .mobile-menu {
    @include breakpoint(medium) {
      display: none;
    }
  }
} // Wrapper @extend ;

// ORBIT 2
$clean-hero-slider-accent: $warning-color;

.clean-hero-slider {
  .orbit-caption {
    width: auto;
    height: auto;
    background: $black;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    padding: 0.2rem 2rem;

    @include breakpoint(medium) {
      @include vertical-center;
      background: rgba(0, 0, 0, 0.6);
      text-align: left;
      width: 70%;
      right: 0;
      padding: 1rem 2rem;
    }

    @include breakpoint(xlarge) {
      padding-right: 10%;
    }

    @include breakpoint(xxlarge) {
      padding-right: 20%;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.25;

      @include breakpoint(medium) {
        font-size: 1.1rem;
      }
    }

    h3 {
      color: $clean-hero-slider-accent;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0;

      @include breakpoint(medium) {
        font-size: 2.5rem;
        font-weight: normal;
      }
    }
  }

  .orbit-slide {
    padding-bottom: 40%;
    background: $black;

    @include breakpoint(medium) {
      padding-bottom: 0;
    }
  }

  .orbit-controls {
    button {
      background: $clean-hero-slider-accent;
      padding: 1rem 0.5rem;

      &:hover {
        background: $white;
        color: $black;
      }
    }

    .orbit-previous {
      @include breakpoint(medium) {
        left: auto;
        right: 2.4rem;
      }
    }

    .orbit-next {
      @include breakpoint(medium) {
        right: 0.5rem;
      }
    }
  }

  .orbit-bullets {
    display: none;

    @include breakpoint(medium) {
      display: block;
      margin-bottom: 0;
      margin-top: -3rem;
      background: none;
    }

    button {
      width: 3rem;
      height: 0.4rem;
      border-radius: 0;
      background-color: $white;

      &.is-active {
        background-color: $clean-hero-slider-accent;
      }
    }
  }

  ul.orbit-container {
    height: auto !important;
  }

  li.orbit-slide {
    max-height: none !important;
  }
}

// ORBIT Stuffage

//*
.orbit-container {
  height: 450px;
  button {
    margin-top: 25px;
  }
}
.orbit-caption {
  @include breakpoint(small only) {
    margin-top: 20px;
  }
  position: absolute;
  top: 300px;
  width: 100%;
  height: 30%;
  border-radius: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
}
.orbit-caption p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #fefefe;
  font-size: 30px;
  line-height: 50px;
  font-weight: 900;
}
@include breakpoint(small only) {
  .orbit-caption p {
    font-size: 24px;
    font-weight: 200;
  }
}

.orbit-bullets {
  display: none;
}

.docs-example-orbit-slide {
  padding: 2rem 4rem;
  color: $white;
}

// SERVICE service-boxes
.service-box-panel {
  .container {
    @include xy-grid-container();
    @include flex-align-self(middle);

    .service-boxes {
      @include xy-grid();
      @include padding(1, null, 2, null);

      .single-service-box {
        @include xy-cell();
        text-align: center;

        .service-image:hover {
          opacity: 0.7;
          filter: alpha(opacity=70);
        }

        h2 {
          font-size: 32px;
          margin-top: 15px;
          margin-bottom: 15px;
          color: #707070;
          line-height: 34px;
        }
        @include breakpoint(medium) {
          @include xy-cell(20%);
          border-radius: 10px;
          text-align: center;
          @include box(260px, 325px);
          background-color: #ffffff;
          box-shadow: 0 5px 17px -8px rgba(9, 30, 66, 0.25),
            0 0 1px rgba(9, 10, 6, 0.31);
        }
      }
    }
  }
}

// Separator IMAGES
.separator-image {
  @include xy-grid();
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: color;
}

.pool-image {
  background-image: url(/assets/img/Features/widescreendeck.jpg);
}

.accordion-content {
  background-color: black;
}

// INTERACTION BOX ON HOME PAGE
.interaction-box {
  @include xy-grid-container();
  @include xy-grid();
  @include breakpoint(small only) {
    display: none;
  }
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100%;

  .contact-form {
    @include xy-grid();
    @include xy-cell(8);
    padding: 24px;

    .form-greeting {
      @include xy-cell(8);
      text-align: left;
      margin-top: 24px;

      h1,
      h2,
      h4 {
        color: white;
        font-family: 'Aleo';
        line-height: 34px;
      }
    }

    .label-input {
      @include xy-cell(6);
      margin: auto;

      label {
        font-size: rem-calc(24);
        color: white;
        font-family: 'Aleo';
      }
    }

    .message-field {
      @include xy-cell();
      label {
        font-size: rem-calc(24);
        color: white;
        font-family: 'Aleo';
      }
    }
  }

  .testimonial-box {
    @include xy-cell(4);
    padding-left: 16px;
    border-left: 0.5px solid white;
    @include padding(2, 1, 1, 2);
    @include flex-align(center, top);

    .testimonial-container {
      @include padding(1, 1, 1, 1);
      background-color: white;
      text-align: center;
      height: 100%;
      margin: 0;

      h2 {
        font-size: 24px;

        color: #36735c;
        font-weight: bold;
        margin-top: 25px;
        font-family: 'Roboto Condensed', sans-serif;
      }

      h3 {
        font-size: 20px;
        margin: 0;
        font-weight: bold;
        color: orange;
        text-align: left;
        font-family: 'Roboto Condensed', sans-serif;
      }

      p {
        font-size: rem-calc(18);
        margin: 0;
        width: 200px;
        color: black;
        font-family: 'Aleo';
        text-align: left;
      }

      .button {
        margin-top: 15px;
        background-color: #36735c;
        color: white;
        font-size: rem-calc(20);
        font-family: 'Roboto Condensed', sans-serif;
      }
    }
  }
}

/// ABOUT Page
main.page-about {
  @include xy-grid-container();
  @include xy-grid();
  @include flex-align(justify, top);
  .left-col-about {
    @include xy-cell();

    .heading-title {
      font-family: Merriweather;
      line-height: 44px;
      margin-top: 25px;
    }

    img {
      @include xy-cell();
      max-width: 300px;
      @include flex-align(center, middle);
      margin: 25px;
    }

    .image-effect {
      @include rotate(-5);
      border: rem-calc(10) solid $white;
      @include shadow();
      @include breakpoint(small only) {
        margin-bottom: 30px;
      }
    }
    p {
      font-size: rem-calc(20);
      font-family: 'Aleo';
      line-height: rem-calc(34);
      margin-top: 35px;
    }
    blockquote {
      font-size: rem-calc(40);
      font-family: 'Aleo';
    }
    @include breakpoint(medium) {
      @include xy-cell(2 of 3);
    }
  }
  .aside-form {
    @include xy-cell();
    background-color: green;
    @include breakpoint(medium) {
      @include xy-cell(1 of 3);
    }
  }
}

// Services Page Templates

.breadcrumb-header {
  @include breakpoint(small only) {
    display: none;
  }
  background-color: #e3e3e3;
  margin-top: 35px;
  @include padding(1, 1, 0.5, 3);
  h1 {
    @include xy-grid-container();
    font-size: 14px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif 300;
    a:link {
      color: black;
    }
    a:hover {
      color: #707070;
      text-decoration: underline;
    }
    a:visited {
      color: black;
    }
  }
}

.services-container {
  @include xy-grid-container();
  @include xy-grid();
  padding-bottom: 100px;

  .left-content {
    @include breakpoint(small only) {
      @include xy-cell();
    }
    @include xy-cell(8);

    h1 {
      font-family: 'Aleo';
      margin-top: 25px;
    }
    p {
      font-size: rem-calc(20);
      font-family: 'Aleo';
      line-height: rem-calc(34);
    }
    padding: 14px;
    .landingpage-orbit {
      @include xy-cell();
    }
    .contactus {
    }
    .process-promo {
    }

    .service-glossary {
      h1 {
        font-size: 24px;
      }
      p {
        margin-top: 30px;
        span {
          font-family: 'Roboto Condensed';
          font-size: 24px;
          color: green;
        }
        font-size: rem-calc(20);
        font-family: 'Aleo';
        line-height: rem-calc(34);
      }
    }
  }

  .lead-form {
    position: relative;
    background-color: #4095ae;
    padding: 36px;
    font-family: 'Aleo';
    h2 {
      color: white;
      font-size: 30px;
      font-family: 'Aleo';
    }
    h3 {
      color: white;
      font-size: 16px;
      font-family: 'Aleo';
    }
    label {
      color: white;
      font-size: 16px;
    }
    @include breakpoint(small only) {
      @include xy-cell();
    }
    @include breakpoint(medium) {
      @include xy-cell(4);
    }
  }
}

.portfolio-boxes {
  @include xy-grid-container();
  @include xy-grid();
  position: relative;

  h2 {
    @include xy-grid();
    text-align: center;
  }

  .portfolio-slider-box {
    @include xy-cell(1 of 3);
    position: relative;
  }
}

.job-archive {
  @include xy-grid-container();
  @include xy-grid();
  @include padding(2, null, 2, null);
  .job-services {
    @include xy-cell();
    @include breakpoint(medium) {
      @include xy-cell(4);
      padding: 5px;
      margin: 15px;
      box-shadow: 0 5px 17px -8px rgba(9, 30, 66, 0.25),
        0 0 1px rgba(9, 10, 6, 0.31);
      h3 {
        background-color: red;
        padding: 2px;
        color: white;
      }
    }

    .overlay-container {
      position: relative; /* <-- Set as the reference for the positioned overlay */
    }

    .overlay-container .overlay {
      height: 60px;
      position: absolute; /* <-- Remove the overlay from normal flow         */
      bottom: 0; /* <-- Keep the overlay at the bottom of the box   */
      left: 0; /* <-- Set left and right properties to 0          */
      right: 0; /*     In order to expand the overlay horizontally */
      font-size: 24px;
      padding: 0.7rem;
      background-color: rgba(255, 255, 255, 0.7);
      font-family: Aleo;
    }
  }
}

.project-archives {
  @include xy-grid-container();
  @include xy-grid();

  .project-archive {
    @include xy-cell();
    @include breakpoint(medium) {
      @include xy-cell(3);
      margin: 15px;
      border-radius: 10px;
      box-shadow: 0 5px 17px -8px rgba(9, 30, 66, 0.25),
        0 0 1px rgba(9, 10, 6, 0.31);
      padding: 5px;
      img {
        border-radius: 10px;
      }
      h3 {
        background-color: red;
        padding: 0px;
        color: white;
      }
    }

    .overlay-container {
      position: relative; /* <-- Set as the reference for the positioned overlay */
    }

    .overlay-container .overlay {
      height: 70px;
      position: absolute; /* <-- Remove the overlay from normal flow         */
      bottom: 0; /* <-- Keep the overlay at the bottom of the box   */
      left: 0; /* <-- Set left and right properties to 0          */
      right: 0; /*     In order to expand the overlay horizontally */
      font-size: 18px;
      font-family: 'Roboto Condensed';
      padding: 0.4rem;
      background-color: rgba(54, 115, 92, 0.7);
      text-align: center;
      a:visited {
        color: white;
      }
    }
  }
}

// .projects-container {
//   @include xy-grid-container();
//   @include xy-grid();

//   .project-detail {
//     @include xy-grid-container();
//     @include xy-grid(80%);

//     .project-services {
//       @include xy-cell();
//       @include breakpoint(medium) {
//         @include xy-cell(4);
//         padding: 5px;
//         h3 {
//           background-color: red;
//           padding: 2px;
//           color: white;
//         }
//       }

//       .overlay-container {
//         position: relative; /* <-- Set as the reference for the positioned overlay */
//       }

//       .overlay-container .overlay {
//         height: 70px;
//         position: absolute; /* <-- Remove the overlay from normal flow         */
//         bottom: 0; /* <-- Keep the overlay at the bottom of the box   */
//         left: 0; /* <-- Set left and right properties to 0          */
//         right: 0; /*     In order to expand the overlay horizontally */
//         font-size: 24px;
//         padding: 0.4rem;
//         background-color: rgba(255, 255, 255, 0.7);
//       }
//     }
//   }
// }

// Footer Stuffage
// .site-footer {
//   background-color: $primary-color;
//   .container {
//     @include xy-grid-container();
//     color: white;

//     .footer-content {
//       @include xy-grid();
//       @include padding(2, 2, 4, 2);

//       .footer-box {
//         @include xy-cell();
//         @include breakpoint(medium) {
//           @include xy-cell(3);
//           text-align: left;

//           h3 {
//             color: white;
//             font-size: 14px;
//             @include text-transform(uppercase);
//           }

//           img {
//             max-width: 180px;
//             margin-bottom: 15px;
//           }
//           ul.footer-services {
//             @include xy-grid();
//             font-size: 12px;
//             list-style: none;
//             li {
//               line-height: 30px;
//             }
//           }
//         }
//       }

//       .footer-box2 {
//         @include xy-cell();
//         @include breakpoint(medium) {
//           @include xy-cell(3);
//           text-align: left;
//           margin-left: 36px;

//           @include text-transform(uppercase);

//           h3 {
//             color: white;
//             @include text-transform(uppercase);
//             font-size: 12px;
//           }
//         }
//       }

//       p.address shrink {
//         text-align: left;
//       }
//     }
//   }
// }

// p.copyright {
//   text-align: center;
//   color: white;
//   @include padding(1, null, 1, null);
// }

// third footer

footer .br-footer-green {
  background: #36735c;
  color: #fff;
  padding: 50px;

  h4 {
    font-family: 'Roboto Condensed';
  }

  img {
    max-width: 180px;
    margin-bottom: 35px;
    margin-top: -25px;
  }

  ul.about {
    li {
      list-style-type: none;
      margin-left: -20px;
      line-height: 36px;
      font-family: 'Aleo';
      a:hover {
        text-decoration: underline;
      }
    }
  }

  ul.services {
    li {
      list-style-type: none;
      margin-left: -20px;
      line-height: 36px;
      font-family: 'Aleo';
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

footer .br-footer-red {
  background: black;
  padding: 20px 0;
  color: #fff;
}

footer .grid-container {
  @include breakpoint(medium) {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    a {
      color: white;
    }
  }
}

footer .grid-margin-x > .large-shrink {
  @include breakpoint(medium) {
    width: auto;
  }
}

// .accordion-background {
//   background-color: #000;
// }

ul.core-values {
  li {
    list-style: none;
    font-family: 'Aleo';

    h4 {
      font-family: 'Roboto Condensed';
      font-weight: bold;
      color: #36735c;
      border-bottom: solid 1px #e3e3e3;
    }
  }
}

.project-feature-image {
  background-image: url(/assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-46.jpg);

  height: 350px;
  background-position: center center;

  .project-feature-header {
    background-color: rgba(0, 0, 0, 0.6);

    h2 {
      @include xy-grid-container();
      @include xy-grid();
      padding: 5px;
      font-family: 'Aleo';
      font-size: rem-calc(20);
      @include flex-align(right, bottom);
      color: white;
    }
  }
}

.project-details {
  @include xy-grid-container();
  @include xy-grid();

  .project-description {
    @include xy-cell(7);
    font-family: 'Aleo';
    font-size: rem-calc(20);
  }
}

.tnlicense {
  width: 200px;
  margin: 0 auto;
}

.custom-button-class {
  @include button;
  font-size: rem-calc(24);
  margin-left: 9px;
}

.page-headlines {
  @include xy-grid-container();
  font-family: 'Aleo';

  h1 {
    @include xy-grid();
    @include flex-align(center);
    font-family: 'Aleo';
    margin-top: 20px;
  }

  p {
    font-size: 24px;
    text-align: center;
  }
}

.service-index {
  @include xy-grid-container();
  @include xy-grid();
  .main-title {
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Aleo';
    font-size: 36px;
    padding: 0.7em 0;
  }

  .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  }

  .content {
    position: relative;
    width: 90%;
    max-width: 350px;
    margin: auto;
    overflow: hidden;
    padding: 25px;
  }

  .content .content-overlay {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay {
    opacity: 1;
  }

  .content-image {
    width: 100%;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  .content-details p {
    color: #fff;
    font-size: 0.8em;
  }

  .fadeIn-bottom {
    top: 80%;
  }

  .fadeIn-top {
    top: 20%;
  }

  .fadeIn-left {
    left: 20%;
  }

  .fadeIn-right {
    left: 80%;
  }
}
