// MIXINS
.hamburger {
  @include hamburger(#e3e3e3, red, 50px, 30px, 5px, 3);
  position: absolute;
  top: 55px;
  right: 35px;
  // @include position(absolute, 80,0,0,0);
}

// Noway @font-face {
//   $noway = 'Noway-Regular-webfont', sans-serif;
// }

h2.slogan {
  @include xy-grid();
  @include xy-cell();
  color: red;
  @include flex-align(center, middle);
  font-size: 36px;
  font-family: "Aleo";
  text-align: center;
  margin-top: 25px;
}


.top-header {
  height: rem-calc(30);
  background-color: black;

.row {
  @include xy-grid-container();
  h2 {
    @include breakpoint(small only) {
    display: none;
  }
    @include breakpoint(medium) {
      @include xy-grid-container();
    font-size: rem-calc(18);
    color: white;
    margin-left: rem-calc(15);
    @include font-normal();
  }
  }
}

}




.mobile-phone {
  @include xy-cell();
  @include breakpoint(small only) {
    font-size: rem-calc(24);
    color: white;
    margin-left: rem-calc(15);
    @include font-bold();
    text-align: center;
  }
  @include breakpoint(medium) {
    display: none;
  }
}


.wrapper {
  @include xy-grid-container();

  .header-content {
    @include xy-grid();
    @include xy-cell();
    @include flex-align(center, middle);
    @include padding(1);
    height: rem-calc(170);
    position: relative;


  img.logo  {
    @include xy-grid();
    @include xy-cell();
    min-width: 200px;
    max-width: rem-calc(200);
    position: relative;
    @include flex-align(center, middle);
    @include breakpoint(medium) {
      @include xy-cell(3);
      @include flex-align-self(middle);
  }
}


  .right-side {
    @include xy-grid();
    @include breakpoint(medium) {
    @include xy-cell(9);
    @include flex-align(right,bottom);

  }

}



}


.off-canvas {
  background-color: rgba(201, 76, 76, 0.9);
  li a {
    color: white;
  }
  .menu {
    background-color: black;
  }
}

.free-estimate {
  @include xy-grid();
  @include breakpoint(small only) {
      display: none;
  }
  @include breakpoint(medium) {
    float: right;
    width: 300px;
    position: relative;
    margin-top: 5px;



    .free-estimate-call {
      .phone-icon {
          float:left;
        }
      @include breakpoint(medium only) {
          display: none;
      }
      float: right;
      font-size: rem-calc(25);
      line-height: 30px;
      span {
        display: table;
        font-size: rem-calc(30);
        font-weight: bold;
      }
    }
  }
}



.main-navigation {

  display: none;
  @include breakpoint(medium) {
  @include xy-grid();
  @include menu-base();
  padding-top: 60px;


  li {
    @include breakpoint(small only) {
      text-align: center;
    }

    a {
    @include text-transform(uppercase);
    @include font-bold(700);
    font-size: rem-calc(16);

    &:hover {
      color: red;
      }
    }
  }

  }
}

.mobile-menu {
  @include breakpoint(medium) {
    display: none;
  }
}



} // Wrapper @extend ;

// ORBIT Stuffage

.orbit-container {
  position: relative;
  max-height: 300px;
}
.orbit-caption {
  @include breakpoint(small only) {
    margin-top: 50px;
  }
	position: absolute;
	top: 5%;
	left: 25%;
	width: 50%;
	height: 30%;
  background-color: rgba(10, 10, 10, 0.3);
}
.orbit-caption p {
	position: relative;
	top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	text-align: center;
	color: #fefefe;
  font-size: 48px;
  font-weight: 900;
}
@include breakpoint(small only) {
.orbit-caption p{
  font-size: 24px;
  font-weight: 400;
 }
}

.orbit-bullets {
   display: none;
}

.docs-example-orbit-slide {
  padding: 2rem 4rem;
  color: $white;

  .orbit-slide:nth-of-type(1) & {
    background: dodgerblue;
  }

  .orbit-slide:nth-of-type(2) & {
    background: rebeccapurple;
  }

  .orbit-slide:nth-of-type(3) & {
    background: darkgoldenrod;
  }

  .orbit-slide:nth-of-type(4) & {
    background: lightseagreen;
  }
}


// Accordian styles
.accordion-item {
  @include xy-grid();
  background-color: black;
}





// SERVICE service-boxes
.service-box-panel {
  .container  {
  @include xy-grid-container();
  @include flex-align-self(middle);

  .service-boxes {
    @include xy-grid();
    @include padding(2,null,2,null);
    .single-service-box {
      @include xy-cell();
    text-align: center;

    .service-image:hover
{
	opacity: 0.3;
	filter: alpha(opacity=30);
}



      h2 {
        font-size: 32px;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #707070;
        line-height: 34px;
      }
      @include breakpoint(medium) {
        @include xy-cell(20%);
        text-align: center;
        @include box(260px, 325px);
        background-color: #FFFFFF;
        box-shadow: 0 5px 17px -8px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 10, 6, 0.31);

      }

      }
    }
  }
  }

  // Separator IMAGES
  .separator-image {
    @include xy-grid();
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: color;
  }

  .pool-image {
    background-image:url(/assets/img/pool.jpg);
  }





  // INTERACTION BOX ON HOME PAGE
  .interaction-box {
    @include xy-grid-container();
    @include xy-grid();

    @include breakpoint(small only) {
      display: none;
    }
    background-color: red;
    height: 650px;


    .contact-form {
      @include xy-grid();
      @include xy-cell(8);
      padding: 24px;

      .form-greeting {
        @include xy-cell(8);
        text-align: center;
        h2 {

        color: white;
      }
      }


      .label-input {
          @include xy-cell(6);
          margin: auto;



          label {
            font-size: rem-calc(24);
            color: white;
          }

        }



      .message-field {
        @include xy-cell();
        label {
          font-size: rem-calc(24);
          color: white;
        }
      }
    }

    .testimonial-box {
      @include xy-cell(4);
      padding-left: 16px;
      border-left:2px solid white;
      @include padding(4,2,4,2);
      @include flex-align(center, top);

      .testimonial-container {
        @include padding(3,3,3,3);
        background-color: white;
        text-align: center;

        h2 {
          font-size: 24px;
        }

        height: 100%;
        p {
          font-size: rem-calc(10);
          color: black;

        }
      }
    }

  }



/// ABOUT Page
main.page-about {
  @include xy-grid-container();
  @include xy-grid();
  @include flex-align(justify, top);
  .left-col-about {
    @include xy-cell();

    img {
      @include xy-cell();
      max-width: 300px;
      @include flex-align(center, middle);
    }

    .image-effect {
      @include rotate(-5);
      border: rem-calc(10) solid $white;
      @include shadow();
      @include breakpoint(small only) {
        margin-bottom: 30px;
      }
    }
    p {
      font-size: rem-calc(20);
      font-family: "Aleo";
      line-height: rem-calc(34);
    }
    blockquote {
      font-size: rem-calc(40);
      font-family: "Aleo";
    }
    @include breakpoint(medium) {
    @include xy-cell(2 of 3);

  }
  }
  .aside-form {
    @include xy-cell();
    background-color: green;
    @include breakpoint(medium) {
    @include xy-cell(1 of 3);
  }
  }
}


// Services Page Templates

.services-container{
  @include xy-grid-container();
  @include xy-grid();

  .breadcrumb-header {
    @include xy-cell();
    background-color: gray;
    padding: 36px;
    h1 {font-size: 24px;
    color: white;}
  }

.left-content {
  @include xy-cell(8);
padding: 24px;
  .landingpage-orbit {
    @include xy-cell();
  }
  .contactus {
  }
  .process-promo {
  }

  .service-glossary {
  }
}

.lead-form {
  @include xy-cell(4);
  position: relative;
  background-color: blue;
  padding: 36px;
  h2, h3 {
    color: white;
  }
  label {
    color: white;
  }
}}

.portfolio-boxes {
  @include xy-grid-container();
  @include xy-grid();
  position: relative;

  h2 {
  @include xy-grid();
  text-align: center;
}

.portfolio-slider-box {
  @include xy-cell(1 of 3);
  position: relative;
  }
}


.job-archive {
    @include xy-grid-container();
    @include xy-grid();
  .job-services {
    @include xy-cell();
    @include breakpoint(medium) {
    @include xy-cell(4);
    padding: 5px;
    h3 {
      background-color: red;
      padding: 2px;
      color: white;

    }
    }

    .overlay-container {
  position: relative; /* <-- Set as the reference for the positioned overlay */
}

.overlay-container .overlay {
  height: 70px;
  position: absolute; /* <-- Remove the overlay from normal flow         */
  bottom: 0;          /* <-- Keep the overlay at the bottom of the box   */
  left: 0;            /* <-- Set left and right properties to 0          */
  right: 0;           /*     In order to expand the overlay horizontally */
  font-size: 24px;
  padding: 0.4rem;
  background-color: rgba(255, 255, 255, 0.7);
}


  }
}


.projects-container{
  @include xy-grid-container();
  @include xy-grid();

.project-detail {
    @include xy-grid-container();
    @include xy-grid(80%);
  .project-services {
    @include xy-cell();
    @include breakpoint(medium) {
    @include xy-cell(4);
    padding: 5px;
    h3 {
      background-color: red;
      padding: 2px;
      color: white;

    }
    }

    .overlay-container {
  position: relative; /* <-- Set as the reference for the positioned overlay */
}

.overlay-container .overlay {
  height: 70px;
  position: absolute; /* <-- Remove the overlay from normal flow         */
  bottom: 0;          /* <-- Keep the overlay at the bottom of the box   */
  left: 0;            /* <-- Set left and right properties to 0          */
  right: 0;           /*     In order to expand the overlay horizontally */
  font-size: 24px;
  padding: 0.4rem;
  background-color: rgba(255, 255, 255, 0.7);
}


  }
}
}




// Footer Stuffage
.site-footer {
  background-color: $primary-color;
  .container {
    @include xy-grid-container();
    color: white;
    .footer-content {
      @include xy-grid();
      @include padding(2,2,4,2);

      .footer-box {
        @include xy-cell();
        @include breakpoint(medium) {
        @include xy-cell(3);
        text-align: left;

        h3 {
          color: white;
          @include text-transform(uppercase);
        }
        img {
          max-width: 180px;
          margin-bottom: 15px;
          }
      ul.footer-services {
        @include xy-grid();
        font-size: 24px;
        list-style:none;
        li {
          line-height: 30px;
        }
      }
        }

      }


      .footer-box2 {
        @include xy-cell();
        @include breakpoint(medium) {
        @include xy-cell(3);
        text-align: left;
        margin-left: 36px;
        @include text-transform(uppercase);

        h3 {
          color: white;
          @include text-transform(uppercase);
        }

      }



    }



  p.address shrink {
    text-align: left;
  }
}
}
}

p.copyright {
  text-align: center;
  color: white;
  @include padding(1, null, 1, null);
}

// third footer


// third footer

footer .br-footer-blue {
    background: #004b87;
    color: #fff;
    padding: 80px 0;

    img {
      max-width: 180px;
      margin-bottom: 35px;
    }


}

.footer-blue-nav h4 a {
    color: #fff;
    font-size: 1.4rem;
}


footer .br-footer-red {
    background: #ef3340;
    padding: 20px 0;
    color: #fff;
}


footer .grid-container {
  @include breakpoint(medium) {
    padding-right: .9375rem;
    padding-left: .9375rem;
}
}


footer .grid-margin-x>.large-shrink {
  @include breakpoint(medium) {
    width: auto;
}

}
