<header id="header" class="topbar-sticky-shrink-header"></header>

<div data-sticky-container>
  <div
    data-sticky
    data-margin-top="0"
    data-top-anchor="header:bottom"
    data-btm-anchor="content:bottom"
  >
    <div class="top-bar topbar-sticky-shrink">
      <div class="header-content">
        <a href="index.html">
          <img
            src="assets/img/graphics/MrFixIt2019Asset_20115.svg"
            class="logo"
            alt="Mr. Fix It Home Improvements Logo"
          />
        </a>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="about-mr-fix-it.html">About Us</a></li>
          <li><a href="job-archive.html">Our Services</a></li>
          <li><a href="">Our Work</a></li>
          <li><a href="">Our Process</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
