<div class="page-headlines">
    <div class="row">
      <h1>We're proud of our work.</h1>
      <p>Enjoy your home and add value for years to come. Click on the links below to explore each project.</p>
    </div>
  </div>
  
  <div class="project-archives">
  <div class="project-archive">
    <div class="overlay-container">
      <a href="project-detail.html"
        ><img src="/assets/img/Features/feature_bathallandale.jpg" alt=""
      /></a>
      <div class="overlay">
        <p>
          <a href="project-detail.html">Kingsport - Rotherwood Hills</a>
        </p>
      </div>
    </div>
  </div>
  

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/feature_whitebath.jpg" alt="" />
      <p>
          <div class="overlay">
              <p>
                <a href="project-detail.html">Mount Carmel - Afton Street</a>
              </p>
            </div>
    </p>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/kitchenmodel.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Johnson City - Lamont Street</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/kitchenmodel.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Boones Creek - Rotherwood Hills</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/kitchenmodel.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Johnson City - Round Tree Subdivision</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/kitchenmodel.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Kingsport - Colonial Heights</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/kitchenmodel.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Kingsport - Cooks Valley</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/kitchenmodel.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Blountville - Road</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/kitchenmodel.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Kingsport - Fair Acres</a>
          </p>
        </div>
    </div>
  </div>

  <div class="project-archive">
    <div class="overlay-container">
      <img src="/assets/img/Features/kitchenmodel.jpg" alt="" />
      <div class="overlay">
          <p>
            <a href="project-detail.html">Kingsport - Ridgefields</a>
          </p>
        </div>
    </div>
  </div>


  <div class="project-archive">
      <div class="overlay-container">
        <img src="/assets/img/Features/kitchenmodel.jpg" alt="" />
        <div class="overlay">
            <p>
              <a href="project-detail.html">Kingsport - Allandale</a>
            </p>
          </div>
      </div>
    </div>


</div>
