<div class="gallery-top">
  <div class="left-content">
    <div class="gallery-item">
      <img
        src="../assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-3.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="right-content">
    <div class="right-container">
      <div class="gallery-item two-cols">
        <img
          src="../assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-4.jpg"
          alt=""
        />
      </div>

      <div class="gallery-item">
        <img
          src="../assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-6.jpg"
          alt=""
        />
      </div>

      <div class="gallery-item">
        <img
          src="../assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-8.jpg"
          alt=""
        />
      </div>

      <div class="gallery-item two-cols">
        <img
          src="../assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-13.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="gallery-bottom">
  <div class="gallery-item">
    <img
      src="../assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-16.jpg"
      alt=""
    />
  </div>

  <div class="gallery-item">
    <img
      src="../assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-17.jpg"
      alt=""
    />
  </div>

  <div class="right-content">
    <img
      src="../assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-24.jpg"
      alt=""
    />

    <img
      src="../assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-26.jpg"
      alt=""
    />

    <img
      src="../assets/img/Projects/Kitchens/0319_HarrtownRoad/03042019_MrFixIt_HarrTown-28.jpg"
      alt=""
    />
  </div>
</div>
