<div class="row collapse expanded">
	<div class="small-12 medium-12 large-12 columns">
		<div class="orbit" role="region" aria-label="Mr Fix It Home Improvements" data-orbit>
		  <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
		    <li class="is-active orbit-slide">
		    	<img class="orbit-image" src="assets/img/sliders/mrfixit_Jonesborough.jpg" alt="Space">
			  	<span class="orbit-caption"><p>Best Home Remodeling Contractor in The Tri-Cities<br>
					<button class="button primary" href="#">Learn More > </button></p>
      	   </li>

					 <li class="is-active orbit-slide">
						 <img class="orbit-image" src="assets/img/sliders/harrtown1.jpg" alt="Space">
						 <span class="orbit-caption"><p>You can depend on Mr. Fix It – Rated best by Angie's List<br>
						 <button class="button primary" href="#">Learn More > </button></p>
							</li>

							<li class="is-active orbit-slide">
		  		    	<img class="orbit-image" src="assets/img/sliders/mrfixit_ridgefieldskitchen.jpg" alt="Space">
		  			  	<span class="orbit-caption"><p>Call now for your free estimate from Mr. Fix It.<br>
		  					<button class="button primary" href="#">Learn More > </button></p>
		        	   </li>
  </ul>
		  <nav class="orbit-bullets">
		    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
		    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
		    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
		    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
		  </nav>
		</div>
	</div>
</div>
