<div class="page-headlines">
  <div class="row">
    <h1>We're proud of our work.</h1>
  </div>
</div>

<div class="job-archive">
  <div class="job-services">
    <div class="overlay-container">
      <a href="bathroom-archive.html"
        ><img src="/assets/img/Features/feature_bathallandale.jpg" alt=""
      /></a>
      <div class="overlay"><a href="bathroom-archive.html">Bathrooms</a></div>
    </div>
  </div>

  <div class="job-services">
    <div class="overlay-container">
      <img src="/assets/img/Features/feature_kitchenridge.jpg" alt="" />
      <div class="overlay">Kitchens</div>
    </div>
  </div>

  <div class="job-services">
    <div class="overlay-container">
      <img src="/assets/img/Features/feature_deck.jpg" alt="" />
      <div class="overlay">Decks</div>
    </div>
  </div>

  <div class="job-services">
    <div class="overlay-container">
      <img src="/assets/img/Features/feature_porch.jpg" alt="" />
      <div class="overlay">Patio Rooms</div>
    </div>
  </div>

  <div class="job-services">
    <div class="overlay-container">
      <img src="/assets/img/Features/feature_deckjboro.jpg" alt="" />
      <div class="overlay">Room Additions</div>
    </div>
  </div>

  <div class="job-services">
    <div class="overlay-container">
      <img src="/assets/img/Features/feature_whitebath.jpg" alt="" />
      <div class="overlay">Other Jobs</div>
    </div>
  </div>
</div>
