<div class="lead-form">
  <h2>Let's Get Started</h2>
  <h3>Complete the form for a free consultation</h3>

    <div class="label-input">
      <label for="name">Name
      <input type="text" class="foo" placeholder="Your Name" name="name">
      </label>
    </div>

    <div class="label-input">
      <label for="name">Your Email
      <input type="text" placeholder="Your Email" name="email">
    </label>
    </div>

    <div class="label-input">
      <label for="name">Phone Number</label>
      <input type="text" placeholder="Your Phone" name="phonenumber">

    </div>

    <div class="label-input">
      <label for="service">Service Type:
      <select>
        <option value="Bathroom Remodeling">Bathroom Remodeling</option>
        <option value="Kitchen Remodeling">Bathroom Remodeling</option>
      </select>
      </label>
    </div>

    <div class="message-field">
        <label for="project">Describe your project.
          <textarea name="message" id="" cols="30" rows="6" placeholder="Describe your project"></textarea>
        </label>
      </div>

      <a href="about.html" class="button">Learn More</a>


    </div>
