
<div class="grid-container">
  <div class="grid-x grid-margin-x align-justify">
    <div class="medium-3 small-6 cell logo">
      <img src="assets/img/MrFixIt2019Asset_20115.svg" alt="Mr. Fix It Home Improvements Logo">
    </div>

    <div class="medium-9 cell large-only">
      <ul class="fixitmenu align-right">
        <li><a href="">About Us</a></li>
        <li><a href="">Our Services</a></li>
        <li><a href="">Our Work</a></li>
        <li><a href="">Our Process</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </div>


  </div>
</div>
