<div data-sticky-container>

    <header class="site-header site-header-sticky-shrink" data-sticky data-options="marginTop:0;">

      <div data-sticky data-margin-top='0' data-top-anchor="header:bottom" data-btm-anchor="content:bottom">

  <div class="wrapper topbar-sticky-shrink">

      <div class="header-content">
        <a href="index.html">
          <img src="assets/img/graphics/MrFixIt2019Asset_20115.svg" class="logo" alt="Mr. Fix It Home Improvements Logo">
        </a>
    <div class="right-side">

      <div class="free-estimate">
        <div class="phone-icon"><i class="fi-telephone"></i></div>
        <div class="free-estimate-call">
          Call for Free Estimate <span>423-239-2454</span>
        </div>
      </div>

      <nav id="main-nav" class="main-navigation">
        <li><a href="about-mr-fix-it.html">About Us</a></li>
        <li><a href="job-archive.html">Our Services</a></li>
        <li><a href="">Our Work</a></li>
        <li><a href="">Our Process</a></li>
        <li><a href="">Contact Us</a></li>
      </nav>


      <div class="off-canvas position-right" id="offCanvas" data-off-canvas>
        <ul class="menu vertical" data-animate="menu-in menu-out">
          <li><a href="index.html">Home</a></li>
      <li><a href="aboutmrfixit.html">About Us</a></li>
    <li><a href="#">Our Process</a></li>

    <ul class="dropdown menu" data-dropdown-menu is-drilldown-submenu-parent>
      <li>
        <a href="#">Services</a>
        <ul class="menu">
          <li><a href="#">Bathroom Remodeling</a></li>
          <li><a href="#">Kitchen Remodeling</a></li>
          <li><a href="#">Screened Decks</a></li>
          <li><a href="#">Decks</a></li>
          <li><a href="#">Additions</a></li>

          </li>
        </ul>

      </ul>


      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">Projects</a>
          <ul class="menu">
            <li><a href="#">Item 1A</a></li>
            <li><a href="#">Item 2A</a></li>
            <li><a href="#">Item 3A</a></li>
            <li><a href="#">Item 4A</a></li>
          </li>
            <li><a href="#">Contact Us</a></li>
        </ul>


      </div>

      <div class="mobile-menu" data-hide-for="medium" data-open="offCanvas">
      <a class="hamburger" type="button" data-toggle="main-nav" href="#"></a>
      </div>
</div>
      </div> <!-- Right Side End -->
    </div><!-- Header Content End -->
  </div> <!-- Container End -->
</header> <!-- Header End -->
