<div class="nav-container">
  <header id="header" class="topbar-sticky-shrink-header"></header>

  <div data-sticky-container>
    <div
      data-sticky
      data-margin-top="0"
      data-top-anchor="header:bottom"
      data-btm-anchor="content:bottom"
    >
      <div class="top-bar topbar-sticky-shrink">
        <div class="logo">
          <a href="index.html">
            <img
              src="../assets/img/graphics/fixitlogo_2018_horizontal.png"
              alt="Mr. Fix It Home Improvements"
            />
          </a>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-mr-fix-it.html">About Us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="job-archive.html">Job Portfolio</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
