<!-- FOOTER -->
<footer class="footer-2" data-overlay="0">
    <div class="v-middle">
        <div class="row">
            <div class="large-3 medium-12 columns">
                <div class="footer-logo">
                    <a href="#"><img src="assets/images/logo.png" width="140" alt=""></a>
                </div>
                <p class="merriweather-font">Premium quality multipurpose HTML template</p>
                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="large-3 medium-4 columns">
                <div class="footer-links">
                    <h5>Quick links</h5>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Our team</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="large-3 medium-4 columns">
                <div class="footer-links">
                    <h5>Categories</h5>
                    <ul>
                        <li><a href="#">Travelling</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Tutorials</a></li>
                    </ul>
                </div>
            </div>
            <div class="large-3 medium-4 columns">
                <div class="footer-links">
                    <h5>Recent posts</h5>
                    <ul>
                        <li><a href="#"><strong>Lorem ipsum dolor sit amet</strong></a> <span>May 28, 2017</span> </li>
                        <li><a href="#"><strong>In ullamcorper lorem mollis</strong></a> <span>April 25, 2017</span> </li>
                        <li><a href="#"><strong>Aliquam mollis fermentum orci</strong></a> <span>March 22, 2017</span> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="row">
                <div class="large-12 columns text-center">
                    <p class="copyright">&copy; 2018 Hyperion. Made by <a href="http://nqubo.com">NQUBO</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
