<div class="featured-image">
  <img src="assets/img/kitchen.jpg" alt="">
</div>

<div class="project-detail">

  <div class="project-services">
    <div class="overlay-container">
    <img src="/assets/img/kitchenmodel.jpg" alt="">
    <div class="overlay">Bathrooms</div>
    </div>
  </div>

  <div class="project-services">
    <div class="overlay-container">
    <img src="/assets/img/kitchenmodel.jpg" alt="">
    <div class="overlay">Kitchens</div>
    </div>
  </div>

  <div class="project-services">
    <div class="overlay-container">
    <img src="/assets/img/kitchenmodel.jpg" alt="">
    <div class="overlay">Decks</div>
    </div>
  </div>

  <div class="project-services">
    <div class="overlay-container">
    <img src="/assets/img/kitchenmodel.jpg" alt="">
    <div class="overlay">Patio Rooms</div>
    </div>
  </div>

  <div class="project-services">
    <div class="overlay-container">
    <img src="/assets/img/kitchenmodel.jpg" alt="">
    <div class="overlay">Room Additions</div>
    </div>
  </div>

  <div class="project-services">
    <div class="overlay-container">
    <img src="/assets/img/kitchenmodel.jpg" alt="">
    <div class="overlay">Other Jobs</div>
    </div>
  </div>

</div>
