<div class="project-feature-image">
  <div class="project-feature-header">
    <h2>Harrtown Road, Blountville, TN</h2>
  </div>
</div>

<div class="project-details">
  <div class="project-description">
    <p></p>
      This beautiful home located on a Blountville Farm was recently remodeled
      to a modern kitchen complete with an open floor plan that leads into both
      a family room and dining room.
    </p>

    <p>
      From the stunning hardwood floor, to the details of the fireplace that was
      customized to match the kitchen, this new home is warm, inviting and will
      certainly be the center of family conversations in the future.
    </p>

    <p>
      Our first modifications included removing a partition wall to open up the
      kitchen and dining room areas
    </p>
    <p>
      Once the space was opened up we removed the existing cabinetry and
      installed Diamond Intrigue all wood base wall cabinets. To accent the
      cabinets, there is also a 60" wall pantry and a broom closet with all-wood
      construction. The doors are a Paloma Maple in Sterling white with matching
      crown moulding.
    </p>
    <p>
      The kitchen is accented by spectacular black-honed granite countertops on
      the island and walls with a glass mosaic backsplash. We also placed new
      sheetrock to smooth the finish the ceiling throughout the rooms and
      installed stunning brushed nickel lighting
    </p>
    <p>
      With over 900 sq. feet of hardwood flooring, Mr. Fix It refinished the
      work and finished off the job with a complete makeover of the brick
      fireplace. The original fieplace was transformed into a attractive wood
      finish with a wood mantel, a decorative trim with matching crown moulding.
      The hearth and the side walls were also fitted with Absolute Black-Honed
      Granite to compliment the kitchen and serve as the centerpiece for this
      elegant new living space from Mr. Fix It Home Improvements.
    </p>
  </div>
  <ul class="project-specs">
    <li>
      <span>Date:</span> <br />
      March 2019
    </li>
    <li>
        <span>Date:</span> <br />
      March 2019
    </li>
    <li>
        <span>Date:</span> <br />
      March 2019
    </li>
  </ul>
</div>

<div class="testimonialfeature">
  
  <h2>
    Mr. Fix It was freaking awesome. When we started to look for contractors to
    make our dreams come true, we were worried about people being inside our house. Mr.
    Fix It and their entire crew was clean, professional and we felt we could trust them
    through the whole process. We couldn't be happier.
  </h2>
  <div class="testimonial-owner">
    Steve<br />
    Blountville, TN
  </div>
</div>
