<div class="service-box-panel">
  <div class="container">
    <div class="service-boxes">
      <div class="single-service-box">
        <div class="box-image">
          <a href="/home-remodeling.html"
            ><img
              class="service-image"
              src="/assets/img/Features/mrfixit_homeremodel.jpg"
              alt=""
          /></a>
        </div>
        <h2>Home Remodeling</h2>
        <div class="hollow button secondary">
          <a href="/home-remodeling.html">Learn More</a>
        </div>
      </div>

      <div class="single-service-box">
        <div class="box-image">
          <a href="/bathroom-remodeling.html"
            ><img
              class="service-image"
              src="/assets/img/Features/reedcirclebath.jpg"
              alt=""
          /></a>
        </div>
        <h2>Bathroom Remodeling</h2>
        <div class="hollow button secondary">
          <a href="/bathroom-remodeling.html">Learn More</a>
        </div>
      </div>

      <div class="single-service-box">
        <div class="box-image">
          <a href="/kitchen-remodeling.html"
            ><img
              class="service-image"
              src="/assets/img/Features/mrfixit+washingtonkitchen.jpg"
              alt=""
          /></a>
        </div>
        <h2>Kitchen Remodeling</h2>
        <div class="hollow button secondary">
          <a href="/kitchen-remodeling.html">Learn More</a>
        </div>
      </div>

      <div class="single-service-box">
        <div class="box-image">
          <a href="/outdoor-remodeling.html"
            ><img
              class="service-image"
              src="/assets/img/Features/DSC_4639MrFixIt_ReedCircle_07272016-4-1.jpg"
              alt=""
          /></a>
        </div>
        <h2>Outdoor Remodeling</h2>
        <div class="hollow button secondary">
          <a href="/outdoor-remodeling.html">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
