<footer>
  <div class="br-footer-green">
    <div class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <div class="medium-3 large-3 cell shrink">
          <a href="/">
            <img
              src="/assets/img/graphics/MrFixIt2019Asset_20115.svg"
              alt="Mr. Fix It Logo"
            />
          </a>
          <address>
            133 Sand Street <br />Kingsport, TN 37664<br />
            <a href="tel:4239525000">(423) 952-5000</a><br />
            <a
              class="footer-email"
              href="mailto:info@mrfixithomes.com"
              target="_blank"
              >info@mrfixithomes.com</a
            ><br />
          </address>
        </div>
        <div class="medium-8 large-8 cell shrink footer-blue-nav">
          <div class="grid-x grid-margin-x">
            <div class="cell show-for-medium medium-6 large-shrink">
              <h4>
                Services
              </h4>
              <h5>
                <a href="#">Bathroom Remodeling</a>
              </h5>
              <h5>
                <a href="#">Kitchen Remodeling</a>
              </h5>
              <h5>
                <a href="#">Outdoor Decks</a>
              </h5>
              <h5>
                <a href="#">Patios and Screen Rooms</a>
              </h5>
              <h5>
                <a href="#">Room Additions</a>
              </h5>
              <h5>
                <a href="#">Outdoor Rennovations</a>
              </h5>
            </div>
            <div class="cell show-for-medium medium-6 large-shrink">
              <h4>
                About Mr. Fix It
              </h4>
              <h5>
                <a href="#">About</a>
              </h5>
              <h5>
                <a href="#">Reviews</a>
              </h5>
              <h5>
                <a href="#">Job Portfolio</a>
              </h5>
              <h5>
                <a href="#">Contact Us</a>
              </h5>
            </div>
            <div class="cell large-auto connect-cell">
              <h4 style="color: white;">
                Contact Mr. Fix It For A Free Quote On Your Project<br />
                423-239-7283
              </h4>
              <hr />
              Follow Us On Facebook.
              <ul class="menu social-menu">
                <li>
                  <a
                    href="https://www.facebook.com/mrfixithomes"
                    target="_blank"
                    ><i class="fab fa-facebook-square"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="br-footer-red">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-shrink footer-red-01">
          <ul class="menu">
            <!-- <li><a href="/employees">Employees</a></li> -->
            <li><a href="/site-map">Site Map</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="cell medium-auto text-right footer-red-02">
          <a
            href="http://www.mrfixithomes.com"
            target="_blank"
            class="ds-link shtest"
            style="display: inline-block;"
            >Website by Volume Labs | Copyright 2019</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
