<footer>
    <div class="br-footer-blue">
        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="medium-3 large-3 cell shrink">
                    <a href="/">
                        <img src="/assets/img/MrFixIt2019Asset_20115.svg" alt="Mr. Fix It Logo">
                    </a>
                    <address>
                        2600 Boones Creek Road <br>Johnson City, TN 37615<br>
                        <a href="tel:4239525000">(423) 952-5000</a><br>
                        <a class="footer-email" href="mailto:contactus@brightridge.com" target="_blank">contactus@brightridge.com</a><br>
                        Business Hours:<br>
                        Monday-Friday 8am to 5pm
                    </address>
                </div>
                <div class="medium-8 large-8 cell shrink footer-blue-nav">
                    <div class="grid-x grid-margin-x">
                        <div class="cell show-for-medium medium-6 large-shrink">
                            <h4>
                                <a href="#">Services</a>
                            </h4>
                            <h5>
                                <a href="#">Bathroom Remodeling</a>
                            </h5>
                            <h5>
                                <a href="#">Kitchen Remodeling</a>
                            </h5>
                            <h5>
                                <a href="#">Outdoor Decks</a>
                            </h5>
                            <h5>
                                <a href="#">Patios and Screen Rooms</a>
                            </h5>
                            <h5>
                                <a href="#">Room Additions</a>
                            </h5>
                            <h5>
                                <a href="#">Outdoor Rennovations</a>
                            </h5>
                        </div>
                        <div class="cell show-for-medium medium-6 large-shrink">
                            <h4>
                                <a href="#">About Mr. Fix It</a>
                            </h4>
                            <h4>
                                <a href="#">About</a>
                            </h4>
                            <h4>
                                <a href="#">Reviews</a>
                            </h4>
                            <h4>
                                <a href="#">Job Portfolio</a>
                            </h4>
                            <h4>
                                <a href="#">Contact Us</a>
                            </h4>
                        </div>
                        <div class="cell large-auto connect-cell">
                            <h4 style="color: white;">
                                Connect with Us
                            </h4>
                            <ul class="menu social-menu">
                                <li><a href="https://www.facebook.com/YourBrightRidge/?ref=ts" target="_blank"><i class="fab fa-facebook-square"></i></a></li>

                            </ul>
                            <div class="footer-form-block">
                                <p>Subscribe to our quarterly newsletter for the latest company and community news.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="br-footer-red">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-shrink footer-red-01">
                    <ul class="menu">
                        <!-- <li><a href="/employees">Employees</a></li> -->
                        <li><a href="/purchasing">Purchasing</a></li>
                        <li><a href="/site-map">Site Map</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="cell medium-auto text-right footer-red-02">
	                <a href="http://designsensory.com" target="_blank" class="ds-link shtest" style="display: inline-block;">Website by Volume Labs | Copyright 2019</a> <a href="/intranet/login/"><img src="/assets/images/br-logo-brand.png" alt="brandmark" style="display: inline-block; vertical-align: baseline; margin-left: 4px; width: 25px;"/></a>
                </div>
            </div>
        </div>
    </div>
</footer>
